# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
power_env/
venv/
ENV/
env/
.env
.env.yaml
.streamlit/secrets.toml

# Data files
# Data
research/data/**
*.sqlite
*.csv
*.parquet
*.feather
*.h5
*.pkl
*.npy

research/models/**
prod/api/models/**

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/
log/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*:[Zz]one.Identifier
